<h2><center>Create a Terrificus Idea</center></h2>
<form action="/" id='createIdea'>
  <p>
    <strong>Project Title:</strong>
    <textarea rows="2" cols="168" name="title" id="title"></textarea>
  </p>
  <p>
    <strong>Pitch: </strong>
    1 sentence that explains the value proposition of the application.
    How would you explain it to a potential business partner, team member, or investor?
    <textarea rows="2" cols="168" name="pitch" id="pitch"></textarea>
  </p>
  <p>
    <strong>Problem: </strong>
    1–3 sentences describing the problem that you are trying to solve.
    <textarea rows="2" cols="168" name="problem" id="problem"></textarea>
  </p>
  <p>
    <strong>Solution: </strong>
    1–3 sentences describing how your application will solve that problem.
    <textarea rows="2" cols="168" name="solution" id="solution"></textarea>
  </p>
  <p>
    <strong>Audience: </strong>
    1–3 sentences describing what type of user your app would be applicable to.
    <textarea rows="2" cols="168" name="audience" id="audience"></textarea>
  </p>
  <p>
    <strong>Features: </strong>
    What features will your app include to solve the problem?
    <textarea rows="2" cols="168" name="features" id="features"></textarea>
  </p>
  <p><strong>Integrations </strong></p>
  <p>
    Which APIs will you use?
    <textarea rows="2" cols="168" name="apis" id="apis"></textarea>
  </p>
  <p>
    Which OAuth integration are you planning to use?
    <textarea rows='2' cols='168' name="oauth" id="oauth"></textarea>
  </p>
  <input type="submit" value='Submit Idea' formmethod="post" id='submit_btn'>
</form>

<script type="text/javascript">
  window.addEventListener("load", function(){
    function sendData(){
      const XHR = new XMLHttpRequest();

      // Bind the FormData object and the form element
      const FD = new FormData(form);

      // Define what happens on successful data submission
      XHR.addEventListener("load", function(event){
        alert(event.target.responseText);
      });

      // Define what happens in case of error
      XHR.addEventListener("error", function(event){
        alert('Oops! Something went wrong.');
      });

      // Set up our request
      XHR.open("POST", "http://localhost:3000/api/v1/cohorts/1909/ideas");

      // The data sent is what the user provided in the form
      XHR.send(FD);
    }

    // Access the form element...
    let form = document.getElementById("createIdea");

    // ...and take over its submit event.
    form.addEventListener("submit", function(event){
      event.preventDefault();

      sendData();
    });
  });
</script>



<!-- <script type="text/javascript" defer>
  var element = document.getElementById('submit_btn');
  element.addEventListener('onclick', function(){
    debugger;

  });
</script> -->


<!-- document.getElementById('pitch').value -->
