<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <img src="images/splash_big.png" style="margin:0px auto;display:block" >
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>
